<% if resource.errors.any? %>
<div class="signup-error-messages-active">
  <ul>
    <% resource.errors.full_messages.each do |message| %>
    <li class='error-message'><%= message %></li>
    <% end %>
  </ul>
</div>
<div class="signup-error-messages">
</div>
<% end %>