<!DOCTYPE html>
<html>
<head>
    <title>すきなもの、まぜて・・・？なつやすみのじゆうけんきゅうアイデアマシーン</title>
    <%= stylesheet_link_tag 'home', media: 'all' %>
</head>
<body>
  <header>
    <%= render "shared/header" %>
  </header>
    <main class="main-container">
      <div class="form-container">
        <%= render "shared/form" %>
      </div>

    <div class="content-container">
      <div class="jokes-list-container">
      <h2>みんなのじゆうけんきゅうのアイデア</h2>
      <% if @ai_jokes.present? %>
        <ul class="jokes-list">
        <% @ai_jokes.each do |ai_joke| %>
          <%= render "shared/joke_detail", joke: ai_joke.joke, ai_joke: ai_joke %>
        <% end %>
</ul>
      <% else %>
        <p>じゆうけんきゅうのアイデアがありません。つくってみよう。</p>
      <% end %>
      </div>
    </div>
  </div>
  </main>
</body>
</html>