/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require login
  *= require home
  *= require shared/header
 *= require registration
 */
/* カスタムCSS */
body {
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
}

.actions {
  text-align: center;
}

.actions button {
  background-color: #3945f1;
  color: #fff;
  padding: 1em 2em;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  font-size: 1.5em;
  transition: background-color 0.3s, transform 0.3s;
}

.actions button:hover {
  background-color: #f397eb;
}