body {
  background-color: #f0f8ff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.center-text {
  text-align: center;
  word-wrap: break-word;
}

.main-container {
  display: flex;
  padding-top: 60px;
  height: calc(100vh - 60px);  
}

.form-container {
  flex: 1;
  width: 30%;
  padding: 20px 20px 20px 40px;
  background-color: #d9f8ef;
  border-right: 1px solid #ccc;
  overflow-y: auto;
}

.content-container {
  display: flex;
  flex: 3;
  overflow: hidden;
}

.jokes-list-container {
  flex: 1;
  padding: 20px;
  border-right: 1px solid #ccc;
  overflow-y: auto;
}

.joke-detail-container {
  flex: 2;
  padding: 20px;
  overflow-y: auto;
}

.jokes-list {
  list-style-type: none;
  padding: 0;
}

.joke-item {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #d9f8ef;
}

.joke-link {
  text-decoration: none;
  background-color: #3945f1;
  color: #fff;
  padding: 0.5em 1em;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.1s, transform 0.1s;
}

.joke-link:hover {
  background-color: #0eaaec;
  transform: scale(1.05);
}

.field {
  margin-bottom: 1em;
}

.field label {
  display: block;
  margin-bottom: 0.5em;
  color: #333;
}

.field input,
.field select {
  width: calc(100% - 25px);
  height: 40px;
  padding: 0.5em;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.actions {
  text-align: center;
  margin-bottom: 10px;
}

.actions input[type="submit"] {
  background-color: #3945f1;
  color: #fff;
  padding: 0.5em 1em;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-size: 2vh;
  transition: background-color 0.1s, transform 0.1s;
}

.actions input[type="submit"]:hover {
  background-color: #0eaaec;
  transform: scale(1.05);
}

.joke-frame {
  border: 5px solid #f2b933;
  background-color: #fff7ee;
  padding: 20px;
  border-radius: 20px;
  width: 80%;
  margin-bottom: 5px;
}

.no_show_text {
  text-align: center;
  margin-top: 20px;
}

.joke-generated {
  font-size: 1.5em;
  border: 1px solid #000;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px #aaa;
}

.joke-actions {
  width: 80%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.joke-info {
  width: 80%;
  border: 2px solid #ccc;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  font-size: 1em;
}

.delete-button, .home-button {
  background-color: #3945f1;
  color: #fff;
  padding: 0.5em 1em;
  text-decoration: none;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.1s, transform 0.1s;
}

.delete-button:hover, .home-button:hover {
  background-color: #0eaaec;
  transform: scale(1.05);
}
