.main-container {
  padding: 20px;
}

.joke-list {
  list-style-type: none;
  padding: 0;
}

.joke-item {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 10px;
  position: relative;
  background-color: #f9f9f9;
}

.joke-item h2 {
  margin-top: 0;
}

.joke-item p {
  margin: 5px 0;
}
