<!DOCTYPE html>
<html>
<head>
    <title>つくったじゆうけんきゅうのアイデア詳細</title>
    <%= stylesheet_link_tag 'jokes_show', media: 'all' %>
</head>
<body>
    <%= render "shared/header" %>
    <main class="main-container">
        <div class="sidebar">
          <%= render "shared/joke_detail" %> 
            
        </div>

            <div class="home-button">
                <%= link_to 'ホームにもどってアイデアをつくる', root_path, class: 'home-button' %>
            </div>
        </div>
    </main>
</body>
</html>
